<link rel="shortcut icon" href="/blog/assets/images/favicon.png" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/blog/assets/css/prettify/prettify.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/blog/assets/css/prettify/sunburst.css" media="screen" />

<!--script type="text/javascript" src="/blog/assets/js/bootstrap.min.js"></script-->

<script type="text/javascript" src="/blog/assets/js/prettify/prettify.js"></script>
<meta name="robots" content="index,follow"/>

<!-- Page styles -->
<link rel="stylesheet" href="/blog/assets/css/main.css">
<meta name="author" content="James Williams"/> 		
<meta name="viewport" content="width=device-width, initial-scale=1">


