<header class="app-bar user-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="/blog/assets/images/hamburger.svg" alt="Menu"></button>
        <h1 class="logo">James Williams</h1>
        <section class="app-bar-actions">
        <!-- Put App Bar Buttons Here -->
        <!-- e.g <button><i class="icon icon-star"></i></button> -->
        </section>
      </div>
    </header>

<nav class="navdrawer-container promote-layer">
      <h4>Navigation</h4>
      <ul>
        <li><a href="https://twitter.com/ecspike" rel="me">Twitter</a></li>
        <li><a href="https://linkedin.com/in/jwill" alt="LinkedIn" rel="me">LinkedIn</a></li>
        <li><a href="https://medium.com/@ecspike" alt="Medium" rel="me">Medium</a></li>
      </ul>
    </nav>
